openapi: 3.0.1
info:
  contact:
    email: support@coinapi.io
    name: COINAPI LTD
    url: https://www.coinapi.io
  description: "\nThis section will provide necessary information about the `OnChain\
    \ API` protocol. \n<br/><br/>\nLorem Ipsum is simply dummy text of the printing\
    \ and typesetting industry. Lorem Ipsum has been the industry's standard dummy\
    \ text ever since the 1500s, when an unknown printer took a galley of type and\
    \ scrambled it to make a type specimen book. It has survived not only five centuries,\
    \ but also the leap into electronic typesetting, remaining essentially unchanged.\
    \ It was popularised in the 1960s with the release of Letraset sheets containing\
    \ Lorem Ipsum passages, and more recently with desktop publishing software like\
    \ Aldus PageMaker including versions of Lorem Ipsum.        \n               \
    \     "
  license:
    name: MIT License
    url: https://github.com/coinapi/coinapi-sdk/blob/master/LICENSE
  title: On Chain Dapps - REST API
  version: v1
servers:
- url: https://onchain.coinapi.io
tags:
- description: Sushiswap tag descriptor ...
  name: Sushiswap
- description: UniswapV2 tag descriptor ...
  name: UniswapV2
- description: UniswapV3 tag descriptor ...
  name: UniswapV3
- description: Curve tag descriptor ...
  name: Curve
- description: Cow tag descriptor ...
  name: Cow
- description: Dex tag descriptor ...
  name: Dex
- description: Metadata tag descriptor ...
  name: Metadata
paths:
  /metadata/chains:
    get:
      responses:
        "200":
          description: Success
      summary: List all chains.
      tags:
      - Metadata
  /dapps/cow/orders/current:
    get:
      description: Gets orders.
      operationId: Cow.Orders (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.OrderDTO'
                type: array
          description: successful operation
      summary: Orders (current)
      tags:
      - Cow
  /dapps/cow/settlements/current:
    get:
      description: Gets settlements.
      operationId: Cow.Settlements (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.SettlementDTO'
                type: array
          description: successful operation
      summary: Settlements (current)
      tags:
      - Cow
  /dapps/cow/tokens/current:
    get:
      description: Gets tokens.
      operationId: Cow.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - Cow
  /dapps/cow/trades/current:
    get:
      description: Gets trades.
      operationId: Cow.Trades (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.TradeDTO'
                type: array
          description: successful operation
      summary: Trades (current)
      tags:
      - Cow
  /dapps/cow/users/current:
    get:
      description: Gets users.
      operationId: Cow.Users (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Cow.UserDTO'
                type: array
          description: successful operation
      summary: Users (current)
      tags:
      - Cow
  /dapps/cryptopunks/bids/current:
    get:
      description: Gets bids.
      operationId: CRYPTOPUNKS.Bids (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.BidDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.BidDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.BidDTO'
                type: array
          description: successful operation
      summary: Bids (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/collectionDailySnapshots/current:
    get:
      description: Gets collectionDailySnapshots.
      operationId: CRYPTOPUNKS.CollectionDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDailySnapshotDTO'
                type: array
          description: successful operation
      summary: CollectionDailySnapshots (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/collections/current:
    get:
      description: Gets collections.
      operationId: CRYPTOPUNKS.Collections (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDTO'
                type: array
          description: successful operation
      summary: Collections (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/dataSources/current:
    get:
      description: Gets dataSources.
      operationId: CRYPTOPUNKS.DataSources (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.DataSourcesDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.DataSourcesDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.DataSourcesDTO'
                type: array
          description: successful operation
      summary: DataSources (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/items/current:
    get:
      description: Gets items.
      operationId: CRYPTOPUNKS.Items (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.ItemDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.ItemDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.ItemDTO'
                type: array
          description: successful operation
      summary: Items (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/marketplaceDailySnapshots/current:
    get:
      description: Gets marketplaceDailySnapshots.
      operationId: CRYPTOPUNKS.MarketplaceDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketplaceDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketplaceDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketplaceDailySnapshotDTO'
                type: array
          description: successful operation
      summary: MarketplaceDailySnapshots (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/marketPlaces/current:
    get:
      description: Gets marketPlaces.
      operationId: CRYPTOPUNKS.MarketPlaces (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketPlaceDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketPlaceDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketPlaceDTO'
                type: array
          description: successful operation
      summary: MarketPlaces (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/trades/current:
    get:
      description: Gets trades.
      operationId: CRYPTOPUNKS.Trades (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.TradeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.TradeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.TradeDTO'
                type: array
          description: successful operation
      summary: Trades (current)
      tags:
      - CRYPTOPUNKS
  /dapps/cryptopunks/users/current:
    get:
      description: Gets users.
      operationId: CRYPTOPUNKS.Users (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.UserDTO'
                type: array
          description: successful operation
      summary: Users (current)
      tags:
      - CRYPTOPUNKS
  /dapps/curve/accounts/current:
    get:
      description: Gets accounts.
      operationId: Curve.Accounts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AccountDTO'
                type: array
          description: successful operation
      summary: Accounts (current)
      tags:
      - Curve
  /dapps/curve/addLiquidityEvents/current:
    get:
      description: Gets addLiquidityEvents.
      operationId: Curve.AddLiquidityEvents (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AddLiquidityEventDTO'
                type: array
          description: successful operation
      summary: AddLiquidityEvents (current)
      tags:
      - Curve
  /dapps/curve/adminFeeChangeLogs/current:
    get:
      description: Gets adminFeeChangeLogs.
      operationId: Curve.AdminFeeChangeLogs (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AdminFeeChangeLogDTO'
                type: array
          description: successful operation
      summary: AdminFeeChangeLogs (current)
      tags:
      - Curve
  /dapps/curve/amplificationCoeffChangeLogs/current:
    get:
      description: Gets amplificationCoeffChangeLogs.
      operationId: Curve.AmplificationCoeffChangeLogs (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.AmplificationCoeffChangeLogDTO'
                type: array
          description: successful operation
      summary: AmplificationCoeffChangeLogs (current)
      tags:
      - Curve
  /dapps/curve/coins/current:
    get:
      description: Gets coins.
      operationId: Curve.Coins (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.CoinDTO'
                type: array
          description: successful operation
      summary: Coins (current)
      tags:
      - Curve
  /dapps/curve/contracts/current:
    get:
      description: Gets contracts.
      operationId: Curve.Contracts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractDTO'
                type: array
          description: successful operation
      summary: Contracts (current)
      tags:
      - Curve
  /dapps/curve/contractVersions/current:
    get:
      description: Gets contractVersions.
      operationId: Curve.ContractVersions (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ContractVersionDTO'
                type: array
          description: successful operation
      summary: ContractVersions (current)
      tags:
      - Curve
  /dapps/curve/dailyVolumes/current:
    get:
      description: Gets dailyVolumes.
      operationId: Curve.DailyVolumes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.DailyVolumeDTO'
                type: array
          description: successful operation
      summary: DailyVolumes (current)
      tags:
      - Curve
  /dapps/curve/exchanges/current:
    get:
      description: Gets exchanges.
      operationId: Curve.Exchanges (current)
      parameters:
      - description: ""
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ExchangeDTO'
                type: array
          description: successful operation
      summary: Exchanges (current)
      tags:
      - Curve
  /dapps/curve/feeChangeLogs/current:
    get:
      description: Gets feeChangeLogs.
      operationId: Curve.FeeChangeLogs (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.FeeChangeLogDTO'
                type: array
          description: successful operation
      summary: FeeChangeLogs (current)
      tags:
      - Curve
  /dapps/curve/gaugeDeposits/current:
    get:
      description: Gets gaugeDeposits.
      operationId: Curve.GaugeDeposits (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDepositDTO'
                type: array
          description: successful operation
      summary: GaugeDeposits (current)
      tags:
      - Curve
  /dapps/curve/gauges/current:
    get:
      description: Gets gauges.
      operationId: Curve.Gauges (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeDTO'
                type: array
          description: successful operation
      summary: Gauges (current)
      tags:
      - Curve
  /dapps/curve/gaugeLiquidities/current:
    get:
      description: Gets gaugeLiquidities.
      operationId: Curve.GaugeLiquidities (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeLiquidityDTO'
                type: array
          description: successful operation
      summary: GaugeLiquidities (current)
      tags:
      - Curve
  /dapps/curve/gaugeTotalWeights/current:
    get:
      description: Gets gaugeTotalWeights.
      operationId: Curve.GaugeTotalWeights (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTotalWeightDTO'
                type: array
          description: successful operation
      summary: GaugeTotalWeights (current)
      tags:
      - Curve
  /dapps/curve/gaugeTypes/current:
    get:
      description: Gets gaugeTypes.
      operationId: Curve.GaugeTypes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeDTO'
                type: array
          description: successful operation
      summary: GaugeTypes (current)
      tags:
      - Curve
  /dapps/curve/gaugeTypeWeights/current:
    get:
      description: Gets gaugeTypeWeights.
      operationId: Curve.GaugeTypeWeights (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeTypeWeightDTO'
                type: array
          description: successful operation
      summary: GaugeTypeWeights (current)
      tags:
      - Curve
  /dapps/curve/gaugeWeights/current:
    get:
      description: Gets gaugeWeights.
      operationId: Curve.GaugeWeights (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightDTO'
                type: array
          description: successful operation
      summary: GaugeWeights (current)
      tags:
      - Curve
  /dapps/curve/gaugeWeightVotes/current:
    get:
      description: Gets gaugeWeightVotes.
      operationId: Curve.GaugeWeightVotes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWeightVoteDTO'
                type: array
          description: successful operation
      summary: GaugeWeightVotes (current)
      tags:
      - Curve
  /dapps/curve/gaugeWithdraws/current:
    get:
      description: Gets gaugeWithdraws.
      operationId: Curve.GaugeWithdraws (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.GaugeWithdrawDTO'
                type: array
          description: successful operation
      summary: GaugeWithdraws (current)
      tags:
      - Curve
  /dapps/curve/hourlyVolumes/current:
    get:
      description: Gets hourlyVolumes.
      operationId: Curve.HourlyVolumes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.HourlyVolumeDTO'
                type: array
          description: successful operation
      summary: HourlyVolumes (current)
      tags:
      - Curve
  /dapps/curve/lpTokens/current:
    get:
      description: Gets lpTokens.
      operationId: Curve.LpTokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.LpTokenDTO'
                type: array
          description: successful operation
      summary: LpTokens (current)
      tags:
      - Curve
  /dapps/curve/pools/current:
    get:
      description: Gets pools.
      operationId: Curve.Pools (current)
      parameters:
      - description: Pool address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.PoolDTO'
                type: array
          description: successful operation
      summary: Pools (current)
      tags:
      - Curve
  /dapps/curve/proposals/current:
    get:
      description: Gets proposals.
      operationId: Curve.Proposals (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalDTO'
                type: array
          description: successful operation
      summary: Proposals (current)
      tags:
      - Curve
  /dapps/curve/proposalVotes/current:
    get:
      description: Gets proposalVotes.
      operationId: Curve.ProposalVotes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.ProposalVoteDTO'
                type: array
          description: successful operation
      summary: ProposalVotes (current)
      tags:
      - Curve
  /dapps/curve/removeLiquidityEvents/current:
    get:
      description: Gets removeLiquidityEvents.
      operationId: Curve.RemoveLiquidityEvents (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityEventDTO'
                type: array
          description: successful operation
      summary: RemoveLiquidityEvents (current)
      tags:
      - Curve
  /dapps/curve/removeLiquidityOneEvents/current:
    get:
      description: Gets removeLiquidityOneEvents.
      operationId: Curve.RemoveLiquidityOneEvents (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.RemoveLiquidityOneEventDTO'
                type: array
          description: successful operation
      summary: RemoveLiquidityOneEvents (current)
      tags:
      - Curve
  /dapps/curve/systemStates/current:
    get:
      description: Gets systemStates.
      operationId: Curve.SystemStates (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.SystemStateDTO'
                type: array
          description: successful operation
      summary: SystemStates (current)
      tags:
      - Curve
  /dapps/curve/tokens/current:
    get:
      description: Gets tokens.
      operationId: Curve.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - Curve
  /dapps/curve/transferOwnershipEvents/current:
    get:
      description: Gets transferOwnershipEvents.
      operationId: Curve.TransferOwnershipEvents (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.TransferOwnershipEventDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.TransferOwnershipEventDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.TransferOwnershipEventDTO'
                type: array
          description: successful operation
      summary: TransferOwnershipEvents (current)
      tags:
      - Curve
  /dapps/curve/underlyingCoins/current:
    get:
      description: Gets underlyingCoins.
      operationId: Curve.UnderlyingCoins (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.UnderlyingCoinDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.UnderlyingCoinDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.UnderlyingCoinDTO'
                type: array
          description: successful operation
      summary: UnderlyingCoins (current)
      tags:
      - Curve
  /dapps/curve/votingApps/current:
    get:
      description: Gets votingApps.
      operationId: Curve.VotingApps (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.VotingAppDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.VotingAppDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.VotingAppDTO'
                type: array
          description: successful operation
      summary: VotingApps (current)
      tags:
      - Curve
  /dapps/curve/weeklyVolumes/current:
    get:
      description: Gets weeklyVolumes.
      operationId: Curve.WeeklyVolumes (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.WeeklyVolumeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.WeeklyVolumeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Curve.WeeklyVolumeDTO'
                type: array
          description: successful operation
      summary: WeeklyVolumes (current)
      tags:
      - Curve
  /metadata/dapps:
    get:
      responses:
        "200":
          description: Success
      summary: List all decentralized applications.
      tags:
      - Metadata
  /metadata/dapps/{dappName}:
    get:
      parameters:
      - description: ""
        explode: false
        in: path
        name: dappName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      summary: Gets dapp by name.
      tags:
      - Metadata
  /dapps/dex/batches/current:
    get:
      description: Gets batches.
      operationId: Dex.Batches (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.BatchDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.BatchDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.BatchDTO'
                type: array
          description: successful operation
      summary: Batches (current)
      tags:
      - Dex
  /dapps/dex/deposits/current:
    get:
      description: Gets deposits.
      operationId: Dex.Deposits (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.DepositDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.DepositDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.DepositDTO'
                type: array
          description: successful operation
      summary: Deposits (current)
      tags:
      - Dex
  /dapps/dex/orders/current:
    get:
      description: Gets orders.
      operationId: Dex.Orders (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.OrderDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.OrderDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.OrderDTO'
                type: array
          description: successful operation
      summary: Orders (current)
      tags:
      - Dex
  /dapps/dex/prices/current:
    get:
      description: Gets prices.
      operationId: Dex.Prices (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.PriceDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.PriceDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.PriceDTO'
                type: array
          description: successful operation
      summary: Prices (current)
      tags:
      - Dex
  /dapps/dex/solutions/current:
    get:
      description: Gets solutions.
      operationId: Dex.Solutions (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.SolutionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.SolutionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.SolutionDTO'
                type: array
          description: successful operation
      summary: Solutions (current)
      tags:
      - Dex
  /dapps/dex/stats/current:
    get:
      description: Gets stats.
      operationId: Dex.Stats (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.StatsDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.StatsDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.StatsDTO'
                type: array
          description: successful operation
      summary: Stats (current)
      tags:
      - Dex
  /dapps/dex/tokens/current:
    get:
      description: Gets tokens.
      operationId: Dex.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - Dex
  /dapps/dex/trades/current:
    get:
      description: Gets trades.
      operationId: Dex.Trades (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.TradeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.TradeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.TradeDTO'
                type: array
          description: successful operation
      summary: Trades (current)
      tags:
      - Dex
  /dapps/dex/users/current:
    get:
      description: Gets users.
      operationId: Dex.Users (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.UserDTO'
                type: array
          description: successful operation
      summary: Users (current)
      tags:
      - Dex
  /dapps/dex/withdraws/current:
    get:
      description: Gets withdraws.
      operationId: Dex.Withdraws (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.WithdrawDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.WithdrawDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.WithdrawDTO'
                type: array
          description: successful operation
      summary: Withdraws (current)
      tags:
      - Dex
  /dapps/dex/withdrawRequests/current:
    get:
      description: Gets withdrawRequests.
      operationId: Dex.WithdrawRequests (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.WithdrawRequestDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.WithdrawRequestDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dex.WithdrawRequestDTO'
                type: array
          description: successful operation
      summary: WithdrawRequests (current)
      tags:
      - Dex
  /dapps/sushiswap/bundles/current:
    get:
      description: Gets bundles.
      operationId: Sushiswap.Bundles (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.BundleDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.BundleDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.BundleDTO'
                type: array
          description: successful operation
      summary: Bundles (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/burns/current:
    get:
      description: Gets burns.
      operationId: Sushiswap.Burns (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.BurnDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.BurnDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.BurnDTO'
                type: array
          description: successful operation
      summary: Burns (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/dayData/current:
    get:
      description: Gets dayData.
      operationId: Sushiswap.DayData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.DayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.DayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.DayDataDTO'
                type: array
          description: successful operation
      summary: DayData (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/factories/current:
    get:
      description: Gets factories.
      operationId: Sushiswap.Factories (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.FactoryDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.FactoryDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.FactoryDTO'
                type: array
          description: successful operation
      summary: Factories (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/hourData/current:
    get:
      description: Gets hourData.
      operationId: Sushiswap.HourData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.HourDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.HourDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.HourDataDTO'
                type: array
          description: successful operation
      summary: HourData (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/liquidityPositions/current:
    get:
      description: Gets liquidityPositions.
      operationId: Sushiswap.LiquidityPositions (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.LiquidityPositionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.LiquidityPositionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.LiquidityPositionDTO'
                type: array
          description: successful operation
      summary: LiquidityPositions (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/liquidityPositionSnapshots/current:
    get:
      description: Gets liquidityPositionSnapshots.
      operationId: Sushiswap.LiquidityPositionSnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.LiquidityPositionSnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.LiquidityPositionSnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.LiquidityPositionSnapshotDTO'
                type: array
          description: successful operation
      summary: LiquidityPositionSnapshots (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/mints/current:
    get:
      description: Gets mints.
      operationId: Sushiswap.Mints (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.MintDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.MintDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.MintDTO'
                type: array
          description: successful operation
      summary: Mints (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/pairDayData/current:
    get:
      description: Gets pairDayData.
      operationId: Sushiswap.PairDayData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDayDataDTO'
                type: array
          description: successful operation
      summary: PairDayData (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/pairs/current:
    get:
      description: Gets pairs.
      operationId: Sushiswap.Pairs (current)
      parameters:
      - description: Pair contract address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairDTO'
                type: array
          description: successful operation
      summary: Pairs (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/pairHourData/current:
    get:
      description: Gets pairHourData.
      operationId: Sushiswap.PairHourData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairHourDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairHourDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.PairHourDataDTO'
                type: array
          description: successful operation
      summary: PairHourData (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/swaps/current:
    get:
      description: Gets swaps.
      operationId: Sushiswap.Swaps (current)
      parameters:
      - description: Reference to pair.
        explode: true
        in: query
        name: pair
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.SwapDTO'
                type: array
          description: successful operation
      summary: Swaps (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/tokenDayData/current:
    get:
      description: Gets tokenDayData.
      operationId: Sushiswap.TokenDayData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDayDataDTO'
                type: array
          description: successful operation
      summary: TokenDayData (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/tokens/current:
    get:
      description: Gets tokens.
      operationId: Sushiswap.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/transactions/current:
    get:
      description: Gets transactions.
      operationId: Sushiswap.Transactions (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TransactionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TransactionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.TransactionDTO'
                type: array
          description: successful operation
      summary: Transactions (current)
      tags:
      - Sushiswap
  /dapps/sushiswap/users/current:
    get:
      description: Gets users.
      operationId: Sushiswap.Users (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sushiswap.UserDTO'
                type: array
          description: successful operation
      summary: Users (current)
      tags:
      - Sushiswap
  /dapps/uniswap_v3_ethereum/accounts/current:
    get:
      description: Gets accounts.
      operationId: UNISWAP_V3_ETHEREUM.Accounts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.AccountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.AccountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.AccountDTO'
                type: array
          description: successful operation
      summary: Accounts (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/activeAccounts/current:
    get:
      description: Gets activeAccounts.
      operationId: UNISWAP_V3_ETHEREUM.ActiveAccounts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.ActiveAccountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.ActiveAccountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.ActiveAccountDTO'
                type: array
          description: successful operation
      summary: ActiveAccounts (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/deposits/current:
    get:
      description: Gets deposits.
      operationId: UNISWAP_V3_ETHEREUM.Deposits (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DepositDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DepositDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DepositDTO'
                type: array
          description: successful operation
      summary: Deposits (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/dexAmmProtocols/current:
    get:
      description: Gets dexAmmProtocols.
      operationId: UNISWAP_V3_ETHEREUM.DexAmmProtocols (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO'
                type: array
          description: successful operation
      summary: DexAmmProtocols (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/financialsDailySnapshots/current:
    get:
      description: Gets financialsDailySnapshots.
      operationId: UNISWAP_V3_ETHEREUM.FinancialsDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.FinancialsDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.FinancialsDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.FinancialsDailySnapshotDTO'
                type: array
          description: successful operation
      summary: FinancialsDailySnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/liquidityPoolAmounts/current:
    get:
      description: Gets liquidityPoolAmounts.
      operationId: UNISWAP_V3_ETHEREUM.LiquidityPoolAmounts (current)
      parameters:
      - description: Smart contract address of the pool.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolAmountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolAmountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolAmountDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolAmounts (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/liquidityPoolDailySnapshots/current:
    get:
      description: Gets liquidityPoolDailySnapshots.
      operationId: UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshots (current)
      parameters:
      - description: Pool this snapshot belongs to.
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshotDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolDailySnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/liquidityPools/current:
    get:
      description: Gets liquidityPools.
      operationId: UNISWAP_V3_ETHEREUM.LiquidityPools (current)
      parameters:
      - description: Smart contract address of the pool.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDTO'
                type: array
          description: successful operation
      summary: LiquidityPools (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/liquidityPoolFees/current:
    get:
      description: Gets liquidityPoolFees.
      operationId: UNISWAP_V3_ETHEREUM.LiquidityPoolFees (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolFeeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolFeeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolFeeDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolFees (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/liquidityPoolHourlySnapshots/current:
    get:
      description: Gets liquidityPoolHourlySnapshots.
      operationId: UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshots (current)
      parameters:
      - description: The pool this snapshot belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshotDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolHourlySnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/positions/current:
    get:
      description: Gets positions.
      operationId: UNISWAP_V3_ETHEREUM.Positions (current)
      parameters:
      - description: The liquidity pool in which this position was opened
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionDTO'
                type: array
          description: successful operation
      summary: Positions (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/positionSnapshots/current:
    get:
      description: Gets positionSnapshots.
      operationId: UNISWAP_V3_ETHEREUM.PositionSnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionSnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionSnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionSnapshotDTO'
                type: array
          description: successful operation
      summary: PositionSnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/rewardTokens/current:
    get:
      description: Gets rewardTokens.
      operationId: UNISWAP_V3_ETHEREUM.RewardTokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.RewardTokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.RewardTokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.RewardTokenDTO'
                type: array
          description: successful operation
      summary: RewardTokens (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/swaps/current:
    get:
      description: Gets swaps.
      operationId: UNISWAP_V3_ETHEREUM.Swaps (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.SwapDTO'
                type: array
          description: successful operation
      summary: Swaps (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/tickDailySnapshots/current:
    get:
      description: Gets tickDailySnapshots.
      operationId: UNISWAP_V3_ETHEREUM.TickDailySnapshots (current)
      parameters:
      - description: liquidity pool this tick belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDailySnapshotDTO'
                type: array
          description: successful operation
      summary: TickDailySnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/ticks/current:
    get:
      description: Gets ticks.
      operationId: UNISWAP_V3_ETHEREUM.Ticks (current)
      parameters:
      - description: Liquidity pool this tick belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDTO'
                type: array
          description: successful operation
      summary: Ticks (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/tickHourlySnapshots/current:
    get:
      description: Gets tickHourlySnapshots.
      operationId: UNISWAP_V3_ETHEREUM.TickHourlySnapshots (current)
      parameters:
      - description: liquidity pool this tick belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickHourlySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickHourlySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickHourlySnapshotDTO'
                type: array
          description: successful operation
      summary: TickHourlySnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/tokens/current:
    get:
      description: Gets tokens.
      operationId: UNISWAP_V3_ETHEREUM.Tokens (current)
      parameters:
      - description: Smart contract address of the token.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/tokenWhiteLists/current:
    get:
      description: Gets tokenWhiteLists.
      operationId: UNISWAP_V3_ETHEREUM.TokenWhiteLists (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListDTO'
                type: array
          description: successful operation
      summary: TokenWhiteLists (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/tokenWhiteListSymbols/current:
    get:
      description: Gets tokenWhiteListSymbols.
      operationId: UNISWAP_V3_ETHEREUM.TokenWhiteListSymbols (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListSymbolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListSymbolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListSymbolDTO'
                type: array
          description: successful operation
      summary: TokenWhiteListSymbols (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/usageMetricsDailySnapshots/current:
    get:
      description: Gets usageMetricsDailySnapshots.
      operationId: UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshotDTO'
                type: array
          description: successful operation
      summary: UsageMetricsDailySnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/usageMetricsHourlySnapshots/current:
    get:
      description: Gets usageMetricsHourlySnapshots.
      operationId: UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshotDTO'
                type: array
          description: successful operation
      summary: UsageMetricsHourlySnapshots (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswap_v3_ethereum/withdraws/current:
    get:
      description: Gets withdraws.
      operationId: UNISWAP_V3_ETHEREUM.Withdraws (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.WithdrawDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.WithdrawDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.WithdrawDTO'
                type: array
          description: successful operation
      summary: Withdraws (current)
      tags:
      - UNISWAP_V3_ETHEREUM
  /dapps/uniswapv2/bundles/current:
    get:
      description: Gets bundles.
      operationId: UniswapV2.Bundles (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.BundleDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.BundleDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.BundleDTO'
                type: array
          description: successful operation
      summary: Bundles (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/burns/current:
    get:
      description: Gets burns.
      operationId: UniswapV2.Burns (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.BurnDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.BurnDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.BurnDTO'
                type: array
          description: successful operation
      summary: Burns (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/liquidityPositions/current:
    get:
      description: Gets liquidityPositions.
      operationId: UniswapV2.LiquidityPositions (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.LiquidityPositionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.LiquidityPositionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.LiquidityPositionDTO'
                type: array
          description: successful operation
      summary: LiquidityPositions (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/liquidityPositionSnapshots/current:
    get:
      description: Gets liquidityPositionSnapshots.
      operationId: UniswapV2.LiquidityPositionSnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.LiquidityPositionSnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.LiquidityPositionSnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.LiquidityPositionSnapshotDTO'
                type: array
          description: successful operation
      summary: LiquidityPositionSnapshots (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/mints/current:
    get:
      description: Gets mints.
      operationId: UniswapV2.Mints (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.MintDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.MintDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.MintDTO'
                type: array
          description: successful operation
      summary: Mints (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/pairDayData/current:
    get:
      description: Gets pairDayData.
      operationId: UniswapV2.PairDayData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairDayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairDayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairDayDataDTO'
                type: array
          description: successful operation
      summary: PairDayData (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/pairs/current:
    get:
      description: Gets pairs.
      operationId: UniswapV2.Pairs (current)
      parameters:
      - description: Pair contract address.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairDTO'
                type: array
          description: successful operation
      summary: Pairs (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/pairHourData/current:
    get:
      description: Gets pairHourData.
      operationId: UniswapV2.PairHourData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairHourDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairHourDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.PairHourDataDTO'
                type: array
          description: successful operation
      summary: PairHourData (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/swaps/current:
    get:
      description: Gets swaps.
      operationId: UniswapV2.Swaps (current)
      parameters:
      - description: Reference to pair.
        explode: true
        in: query
        name: pair
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.SwapDTO'
                type: array
          description: successful operation
      summary: Swaps (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/tokenDayData/current:
    get:
      description: Gets tokenDayData.
      operationId: UniswapV2.TokenDayData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenDayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenDayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenDayDataDTO'
                type: array
          description: successful operation
      summary: TokenDayData (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/tokens/current:
    get:
      description: Gets tokens.
      operationId: UniswapV2.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/transactions/current:
    get:
      description: Gets transactions.
      operationId: UniswapV2.Transactions (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TransactionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TransactionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.TransactionDTO'
                type: array
          description: successful operation
      summary: Transactions (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/uniswapDayData/current:
    get:
      description: Gets uniswapDayData.
      operationId: UniswapV2.UniswapDayData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UniswapDayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UniswapDayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UniswapDayDataDTO'
                type: array
          description: successful operation
      summary: UniswapDayData (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/uniswapFactories/current:
    get:
      description: Gets uniswapFactories.
      operationId: UniswapV2.UniswapFactories (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UniswapFactoryDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UniswapFactoryDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UniswapFactoryDTO'
                type: array
          description: successful operation
      summary: UniswapFactories (current)
      tags:
      - UniswapV2
  /dapps/uniswapv2/users/current:
    get:
      description: Gets users.
      operationId: UniswapV2.Users (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV2.UserDTO'
                type: array
          description: successful operation
      summary: Users (current)
      tags:
      - UniswapV2
  /dapps/uniswapv3/bundles/current:
    get:
      description: Gets bundles.
      operationId: UniswapV3.Bundles (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BundleDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BundleDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BundleDTO'
                type: array
          description: successful operation
      summary: Bundles (current)
      tags:
      - UniswapV3
  /dapps/uniswapv3/burns/current:
    get:
      description: Gets burns.
      operationId: UniswapV3.Burns (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BurnDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BurnDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.BurnDTO'
                type: array
          description: successful operation
      summary: Burns (current)
      tags:
      - UniswapV3
  /dapps/uniswapv3/factories/current:
    get:
      description: Gets factories.
      operationId: UniswapV3.Factories (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.FactoryDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.FactoryDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.FactoryDTO'
                type: array
          description: successful operation
      summary: Factories (current)
      tags:
      - UniswapV3
  /dapps/uniswapv3/mints/current:
    get:
      description: Gets mints.
      operationId: UniswapV3.Mints (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.MintDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.MintDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.MintDTO'
                type: array
          description: successful operation
      summary: Mints (current)
      tags:
      - UniswapV3
  /dapps/uniswapv3/poolDayData/current:
    get:
      description: Gets poolDayData.
      operationId: UniswapV3.PoolDayData (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolDayDataDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolDayDataDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UniswapV3.PoolDayDataDTO'
                type: array
          description: successful operation
      summary: PoolDayData (current)
      tags:
      - UniswapV3
  /dapps/uniswapv3/pools/current:
    get:
      description: Gets pools.
      operationId: UniswapV3.Pools (current)
      parameters:
      - description: Pool address.
[...]
