/**
 * On Chain Dapps - REST API
 *  This section will provide necessary information about the `OnChain API` protocol.  <br/><br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                             
 *
 * The version of the OpenAPI document: v1
 * Contact: support@coinapi.io
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BidDTO
import org.openapitools.client.model.CollectionDTO
import org.openapitools.client.model.CollectionDailySnapshotDTO
import org.openapitools.client.model.DataSourcesDTO
import org.openapitools.client.model.ItemDTO
import org.openapitools.client.model.MarketPlaceDTO
import org.openapitools.client.model.MarketplaceDailySnapshotDTO
import org.openapitools.client.model.TradeDTO
import org.openapitools.client.model.UserDTO
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CRYPTOPUNKSETHEREUMApi {

  def apply(baseUrl: String = "https://onchain.coinapi.io") = new CRYPTOPUNKSETHEREUMApi(baseUrl)
}

class CRYPTOPUNKSETHEREUMApi(baseUrl: String) {

  /**
   * Gets bids.
   * 
   * Expected answers:
   *   code 200 : Seq[BidDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMBidsCurrent(): ApiRequest[Seq[BidDTO]] =
    ApiRequest[Seq[BidDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/bids/current", "application/json")
      .withSuccessResponse[Seq[BidDTO]](200)
      

  /**
   * Gets collectionDailySnapshots.
   * 
   * Expected answers:
   *   code 200 : Seq[CollectionDailySnapshotDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMCollectionDailySnapshotsCurrent(): ApiRequest[Seq[CollectionDailySnapshotDTO]] =
    ApiRequest[Seq[CollectionDailySnapshotDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/collectionDailySnapshots/current", "application/json")
      .withSuccessResponse[Seq[CollectionDailySnapshotDTO]](200)
      

  /**
   * Gets collections.
   * 
   * Expected answers:
   *   code 200 : Seq[CollectionDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMCollectionsCurrent(): ApiRequest[Seq[CollectionDTO]] =
    ApiRequest[Seq[CollectionDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/collections/current", "application/json")
      .withSuccessResponse[Seq[CollectionDTO]](200)
      

  /**
   * Gets dataSources.
   * 
   * Expected answers:
   *   code 200 : Seq[DataSourcesDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMDataSourcesCurrent(): ApiRequest[Seq[DataSourcesDTO]] =
    ApiRequest[Seq[DataSourcesDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/dataSources/current", "application/json")
      .withSuccessResponse[Seq[DataSourcesDTO]](200)
      

  /**
   * Gets items.
   * 
   * Expected answers:
   *   code 200 : Seq[ItemDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMItemsCurrent(): ApiRequest[Seq[ItemDTO]] =
    ApiRequest[Seq[ItemDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/items/current", "application/json")
      .withSuccessResponse[Seq[ItemDTO]](200)
      

  /**
   * Gets marketPlaces.
   * 
   * Expected answers:
   *   code 200 : Seq[MarketPlaceDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMMarketPlacesCurrent(): ApiRequest[Seq[MarketPlaceDTO]] =
    ApiRequest[Seq[MarketPlaceDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/marketPlaces/current", "application/json")
      .withSuccessResponse[Seq[MarketPlaceDTO]](200)
      

  /**
   * Gets marketplaceDailySnapshots.
   * 
   * Expected answers:
   *   code 200 : Seq[MarketplaceDailySnapshotDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMMarketplaceDailySnapshotsCurrent(): ApiRequest[Seq[MarketplaceDailySnapshotDTO]] =
    ApiRequest[Seq[MarketplaceDailySnapshotDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/marketplaceDailySnapshots/current", "application/json")
      .withSuccessResponse[Seq[MarketplaceDailySnapshotDTO]](200)
      

  /**
   * Gets trades.
   * 
   * Expected answers:
   *   code 200 : Seq[TradeDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMTradesCurrent(): ApiRequest[Seq[TradeDTO]] =
    ApiRequest[Seq[TradeDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/trades/current", "application/json")
      .withSuccessResponse[Seq[TradeDTO]](200)
      

  /**
   * Gets users.
   * 
   * Expected answers:
   *   code 200 : Seq[UserDTO] (successful operation)
   */
  def cRYPTOPUNKSETHEREUMUsersCurrent(): ApiRequest[Seq[UserDTO]] =
    ApiRequest[Seq[UserDTO]](ApiMethods.GET, baseUrl, "/v1/dapps/cryptopunks-ethereum/users/current", "application/json")
      .withSuccessResponse[Seq[UserDTO]](200)
      



}

