openapi: 3.0.1
info:
  contact:
    email: support@coinapi.io
    name: COINAPI LTD
    url: https://www.coinapi.io
  description: "\nThis section will provide necessary information about the `OnChain\
    \ API` protocol. \n<br/><br/>\nLorem Ipsum is simply dummy text of the printing\
    \ and typesetting industry. Lorem Ipsum has been the industry's standard dummy\
    \ text ever since the 1500s, when an unknown printer took a galley of type and\
    \ scrambled it to make a type specimen book. It has survived not only five centuries,\
    \ but also the leap into electronic typesetting, remaining essentially unchanged.\
    \ It was popularised in the 1960s with the release of Letraset sheets containing\
    \ Lorem Ipsum passages, and more recently with desktop publishing software like\
    \ Aldus PageMaker including versions of Lorem Ipsum.        \n               \
    \     "
  license:
    name: MIT License
    url: https://github.com/coinapi/coinapi-sdk/blob/master/LICENSE
  title: On Chain Dapps - REST API
  version: v1
servers:
- url: https://onchain.coinapi.io
tags:
- description: Uniswap V3 Ethereum
  name: UNISWAP-V3-ETHEREUM
- description: Uniswap V2 Ethereum
  name: UNISWAP-V2-ETHEREUM
- description: Curve Finance Ethereum
  name: CURVE-FINANCE-ETHEREUM
- description: Metadata tag descriptor ...
  name: Metadata
paths:
  /metadata/chains:
    get:
      responses:
        "200":
          description: Success
      summary: List all chains.
      tags:
      - Metadata
  /v1/dapps/cryptopunks/bids/current:
    get:
      description: Gets bids.
      operationId: CRYPTOPUNKS.Bids (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.BidDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.BidDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.BidDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.BidDTO'
                type: array
          description: successful operation
      summary: Bids (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/collectionDailySnapshots/current:
    get:
      description: Gets collectionDailySnapshots.
      operationId: CRYPTOPUNKS.CollectionDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDailySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDailySnapshotDTO'
                type: array
          description: successful operation
      summary: CollectionDailySnapshots (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/collections/current:
    get:
      description: Gets collections.
      operationId: CRYPTOPUNKS.Collections (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.CollectionDTO'
                type: array
          description: successful operation
      summary: Collections (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/dataSources/current:
    get:
      description: Gets dataSources.
      operationId: CRYPTOPUNKS.DataSources (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.DataSourcesDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.DataSourcesDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.DataSourcesDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.DataSourcesDTO'
                type: array
          description: successful operation
      summary: DataSources (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/items/current:
    get:
      description: Gets items.
      operationId: CRYPTOPUNKS.Items (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.ItemDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.ItemDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.ItemDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.ItemDTO'
                type: array
          description: successful operation
      summary: Items (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/marketplaceDailySnapshots/current:
    get:
      description: Gets marketplaceDailySnapshots.
      operationId: CRYPTOPUNKS.MarketplaceDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketplaceDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketplaceDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketplaceDailySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketplaceDailySnapshotDTO'
                type: array
          description: successful operation
      summary: MarketplaceDailySnapshots (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/marketPlaces/current:
    get:
      description: Gets marketPlaces.
      operationId: CRYPTOPUNKS.MarketPlaces (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketPlaceDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketPlaceDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketPlaceDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.MarketPlaceDTO'
                type: array
          description: successful operation
      summary: MarketPlaces (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/trades/current:
    get:
      description: Gets trades.
      operationId: CRYPTOPUNKS.Trades (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.TradeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.TradeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.TradeDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.TradeDTO'
                type: array
          description: successful operation
      summary: Trades (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/cryptopunks/users/current:
    get:
      description: Gets users.
      operationId: CRYPTOPUNKS.Users (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.UserDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.UserDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.UserDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CRYPTOPUNKS.UserDTO'
                type: array
          description: successful operation
      summary: Users (current)
      tags:
      - CRYPTOPUNKS
  /v1/dapps/curve-finance-ethereum/liquidityPools/current:
    get:
      description: Gets liquidityPools.
      operationId: CURVE-FINANCE-ETHEREUM.LiquidityPools (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.LiquidityPoolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.LiquidityPoolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.LiquidityPoolDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.LiquidityPoolDTO'
                type: array
          description: successful operation
      summary: LiquidityPools (current)
      tags:
      - CURVE-FINANCE-ETHEREUM
  /v1/dapps/curve-finance-ethereum/swaps/current:
    get:
      description: Gets swaps.
      operationId: CURVE-FINANCE-ETHEREUM.Swaps (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.SwapDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.SwapDTO'
                type: array
          description: successful operation
      summary: Swaps (current)
      tags:
      - CURVE-FINANCE-ETHEREUM
  /v1/dapps/curve-finance-ethereum/tokens/current:
    get:
      description: Gets tokens.
      operationId: CURVE-FINANCE-ETHEREUM.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.TokenDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/CURVE_FINANCE_ETHEREUM.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - CURVE-FINANCE-ETHEREUM
  /metadata/dapps:
    get:
      responses:
        "200":
          description: Success
      summary: List all decentralized applications.
      tags:
      - Metadata
  /metadata/dapps/{dappName}:
    get:
      parameters:
      - description: ""
        explode: false
        in: path
        name: dappName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      summary: Gets dapp by name.
      tags:
      - Metadata
  /v1/dapps/uniswap-v2-ethereum/liquidityPools/current:
    get:
      description: Gets liquidityPools.
      operationId: UNISWAP-V2-ETHEREUM.LiquidityPools (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.LiquidityPoolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.LiquidityPoolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.LiquidityPoolDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.LiquidityPoolDTO'
                type: array
          description: successful operation
      summary: LiquidityPools (current)
      tags:
      - UNISWAP-V2-ETHEREUM
  /v1/dapps/uniswap-v2-ethereum/swaps/current:
    get:
      description: Gets swaps.
      operationId: UNISWAP-V2-ETHEREUM.Swaps (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.SwapDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.SwapDTO'
                type: array
          description: successful operation
      summary: Swaps (current)
      tags:
      - UNISWAP-V2-ETHEREUM
  /v1/dapps/uniswap-v2-ethereum/tokens/current:
    get:
      description: Gets tokens.
      operationId: UNISWAP-V2-ETHEREUM.Tokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.TokenDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V2_ETHEREUM.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - UNISWAP-V2-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/accounts/current:
    get:
      description: Gets accounts.
      operationId: UNISWAP-V3-ETHEREUM.Accounts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.AccountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.AccountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.AccountDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.AccountDTO'
                type: array
          description: successful operation
      summary: Accounts (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/activeAccounts/current:
    get:
      description: Gets activeAccounts.
      operationId: UNISWAP-V3-ETHEREUM.ActiveAccounts (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.ActiveAccountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.ActiveAccountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.ActiveAccountDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.ActiveAccountDTO'
                type: array
          description: successful operation
      summary: ActiveAccounts (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/deposits/current:
    get:
      description: Gets deposits.
      operationId: UNISWAP-V3-ETHEREUM.Deposits (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DepositDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DepositDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DepositDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DepositDTO'
                type: array
          description: successful operation
      summary: Deposits (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/dexAmmProtocols/current:
    get:
      description: Gets dexAmmProtocols.
      operationId: UNISWAP-V3-ETHEREUM.DexAmmProtocols (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO'
                type: array
          description: successful operation
      summary: DexAmmProtocols (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/financialsDailySnapshots/current:
    get:
      description: Gets financialsDailySnapshots.
      operationId: UNISWAP-V3-ETHEREUM.FinancialsDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.FinancialsDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.FinancialsDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.FinancialsDailySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.FinancialsDailySnapshotDTO'
                type: array
          description: successful operation
      summary: FinancialsDailySnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/liquidityPoolAmounts/current:
    get:
      description: Gets liquidityPoolAmounts.
      operationId: UNISWAP-V3-ETHEREUM.LiquidityPoolAmounts (current)
      parameters:
      - description: Smart contract address of the pool.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolAmountDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolAmountDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolAmountDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolAmountDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolAmounts (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/liquidityPoolDailySnapshots/current:
    get:
      description: Gets liquidityPoolDailySnapshots.
      operationId: UNISWAP-V3-ETHEREUM.LiquidityPoolDailySnapshots (current)
      parameters:
      - description: Pool this snapshot belongs to.
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDailySnapshotDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolDailySnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/liquidityPools/current:
    get:
      description: Gets liquidityPools.
      operationId: UNISWAP-V3-ETHEREUM.LiquidityPools (current)
      parameters:
      - description: Smart contract address of the pool.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolDTO'
                type: array
          description: successful operation
      summary: LiquidityPools (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/liquidityPoolFees/current:
    get:
      description: Gets liquidityPoolFees.
      operationId: UNISWAP-V3-ETHEREUM.LiquidityPoolFees (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolFeeDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolFeeDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolFeeDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolFeeDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolFees (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/liquidityPoolHourlySnapshots/current:
    get:
      description: Gets liquidityPoolHourlySnapshots.
      operationId: UNISWAP-V3-ETHEREUM.LiquidityPoolHourlySnapshots (current)
      parameters:
      - description: The pool this snapshot belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.LiquidityPoolHourlySnapshotDTO'
                type: array
          description: successful operation
      summary: LiquidityPoolHourlySnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/positions/current:
    get:
      description: Gets positions.
      operationId: UNISWAP-V3-ETHEREUM.Positions (current)
      parameters:
      - description: The liquidity pool in which this position was opened
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionDTO'
                type: array
          description: successful operation
      summary: Positions (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/positionSnapshots/current:
    get:
      description: Gets positionSnapshots.
      operationId: UNISWAP-V3-ETHEREUM.PositionSnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionSnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionSnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionSnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.PositionSnapshotDTO'
                type: array
          description: successful operation
      summary: PositionSnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/rewardTokens/current:
    get:
      description: Gets rewardTokens.
      operationId: UNISWAP-V3-ETHEREUM.RewardTokens (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.RewardTokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.RewardTokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.RewardTokenDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.RewardTokenDTO'
                type: array
          description: successful operation
      summary: RewardTokens (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/swaps/current:
    get:
      description: Gets swaps.
      operationId: UNISWAP-V3-ETHEREUM.Swaps (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.SwapDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.SwapDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.SwapDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.SwapDTO'
                type: array
          description: successful operation
      summary: Swaps (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/tickDailySnapshots/current:
    get:
      description: Gets tickDailySnapshots.
      operationId: UNISWAP-V3-ETHEREUM.TickDailySnapshots (current)
      parameters:
      - description: liquidity pool this tick belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDailySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDailySnapshotDTO'
                type: array
          description: successful operation
      summary: TickDailySnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/ticks/current:
    get:
      description: Gets ticks.
      operationId: UNISWAP-V3-ETHEREUM.Ticks (current)
      parameters:
      - description: Liquidity pool this tick belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickDTO'
                type: array
          description: successful operation
      summary: Ticks (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/tickHourlySnapshots/current:
    get:
      description: Gets tickHourlySnapshots.
      operationId: UNISWAP-V3-ETHEREUM.TickHourlySnapshots (current)
      parameters:
      - description: liquidity pool this tick belongs to
        explode: true
        in: query
        name: pool
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickHourlySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickHourlySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickHourlySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TickHourlySnapshotDTO'
                type: array
          description: successful operation
      summary: TickHourlySnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/tokens/current:
    get:
      description: Gets tokens.
      operationId: UNISWAP-V3-ETHEREUM.Tokens (current)
      parameters:
      - description: Smart contract address of the token.
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenDTO'
                type: array
          description: successful operation
      summary: Tokens (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/tokenWhiteLists/current:
    get:
      description: Gets tokenWhiteLists.
      operationId: UNISWAP-V3-ETHEREUM.TokenWhiteLists (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListDTO'
                type: array
          description: successful operation
      summary: TokenWhiteLists (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/tokenWhiteListSymbols/current:
    get:
      description: Gets tokenWhiteListSymbols.
      operationId: UNISWAP-V3-ETHEREUM.TokenWhiteListSymbols (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListSymbolDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListSymbolDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListSymbolDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.TokenWhiteListSymbolDTO'
                type: array
          description: successful operation
      summary: TokenWhiteListSymbols (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/usageMetricsDailySnapshots/current:
    get:
      description: Gets usageMetricsDailySnapshots.
      operationId: UNISWAP-V3-ETHEREUM.UsageMetricsDailySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsDailySnapshotDTO'
                type: array
          description: successful operation
      summary: UsageMetricsDailySnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/usageMetricsHourlySnapshots/current:
    get:
      description: Gets usageMetricsHourlySnapshots.
      operationId: UNISWAP-V3-ETHEREUM.UsageMetricsHourlySnapshots (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshotDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshotDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshotDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.UsageMetricsHourlySnapshotDTO'
                type: array
          description: successful operation
      summary: UsageMetricsHourlySnapshots (current)
      tags:
      - UNISWAP-V3-ETHEREUM
  /v1/dapps/uniswap-v3-ethereum/withdraws/current:
    get:
      description: Gets withdraws.
      operationId: UNISWAP-V3-ETHEREUM.Withdraws (current)
      responses:
        "200":
          content:
            text/plain:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.WithdrawDTO'
                type: array
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.WithdrawDTO'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.WithdrawDTO'
                type: array
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/UNISWAP_V3_ETHEREUM.WithdrawDTO'
                type: array
          description: successful operation
      summary: Withdraws (current)
      tags:
      - UNISWAP-V3-ETHEREUM
components:
  schemas:
    CRYPTOPUNKS.BidDTO:
      additionalProperties: false
      example:
        vid: 0
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        tokens_bid: tokens_bid
        token_id: token_id
        bidder: bidder
        block_number: block_number
        id: id
        block_range: block_range
        timestamp: timestamp
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: ""
          nullable: true
          type: string
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
        tokens_bid:
          description: ""
          nullable: true
          type: string
        token_id:
          description: ""
          nullable: true
          type: string
        timestamp:
          description: ""
          nullable: true
          type: string
        bidder:
          description: ""
          nullable: true
          type: string
      type: object
    CRYPTOPUNKS.CollectionDTO:
      additionalProperties: false
      example:
        creator_revenue_eth: creator_revenue_eth
        entry_time: 2000-01-23T04:56:07.000+00:00
        symbol: symbol
        marketplace_revenue_eth: marketplace_revenue_eth
        recv_time: 2000-01-23T04:56:07.000+00:00
        total_supply: total_supply
        trade_count: 1
        block_number: 0
        cumulative_trade_volume_eth: cumulative_trade_volume_eth
        seller_count: 5
        vid: 6
        royalty_fee: royalty_fee
        buyer_count: 5
        name: name
        id: id
        block_range: block_range
        total_revenue_eth: total_revenue_eth
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
        name:
          description: ""
          nullable: true
          type: string
        symbol:
          description: ""
          nullable: true
          type: string
        total_supply:
          description: ""
          nullable: true
          type: string
        royalty_fee:
          description: ""
          nullable: true
          type: string
        cumulative_trade_volume_eth:
          description: ""
          nullable: true
          type: string
        marketplace_revenue_eth:
          description: ""
          nullable: true
          type: string
        creator_revenue_eth:
          description: ""
          nullable: true
          type: string
        total_revenue_eth:
          description: ""
          nullable: true
          type: string
        trade_count:
          description: ""
          format: int32
          type: integer
        buyer_count:
          description: ""
          format: int32
          type: integer
        seller_count:
          description: ""
          format: int32
          type: integer
      type: object
    CRYPTOPUNKS.CollectionDailySnapshotDTO:
      additionalProperties: false
      example:
        creator_revenue_eth: creator_revenue_eth
        entry_time: 2000-01-23T04:56:07.000+00:00
        marketplace_revenue_eth: marketplace_revenue_eth
        recv_time: 2000-01-23T04:56:07.000+00:00
        daily_min_sale_price: daily_min_sale_price
        trade_count: 6
        block_number: block_number
        daily_max_sale_price: daily_max_sale_price
        cumulative_trade_volume_eth: cumulative_trade_volume_eth
        collection: collection
        vid: 0
        royalty_fee: royalty_fee
        daily_trade_volume_eth: daily_trade_volume_eth
        daily_traded_item_count: 1
        id: id
        block_range: block_range
        timestamp: timestamp
        total_revenue_eth: total_revenue_eth
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: ""
          nullable: true
          type: string
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
        collection:
          description: ""
          nullable: true
          type: string
        timestamp:
          description: ""
          nullable: true
          type: string
        royalty_fee:
          description: ""
          nullable: true
          type: string
        daily_min_sale_price:
          description: ""
          nullable: true
          type: string
        daily_max_sale_price:
          description: ""
          nullable: true
          type: string
        cumulative_trade_volume_eth:
          description: ""
          nullable: true
          type: string
        daily_trade_volume_eth:
          description: ""
          nullable: true
          type: string
        marketplace_revenue_eth:
          description: ""
          nullable: true
          type: string
        creator_revenue_eth:
          description: ""
          nullable: true
          type: string
        total_revenue_eth:
          description: ""
          nullable: true
          type: string
        trade_count:
          description: ""
          format: int32
          type: integer
        daily_traded_item_count:
          description: ""
          format: int32
          type: integer
      type: object
    CRYPTOPUNKS.DataSourcesDTO:
      additionalProperties: false
      example:
        vid: 6
        entry_time: 2000-01-23T04:56:07.000+00:00
        parent: 5
        recv_time: 2000-01-23T04:56:07.000+00:00
        causality_region: 1
        param: param
        done_at: 2
        manifest_idx: 5
        context: context
        block_number: 0
        id: id
        block_range: block_range
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int32
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        causality_region:
          description: ""
          format: int32
          type: integer
        manifest_idx:
          description: ""
          format: int32
          type: integer
        parent:
          description: ""
          format: int32
          nullable: true
          type: integer
        id:
          description: ""
          nullable: true
          type: string
        param:
          description: ""
          nullable: true
          type: string
        context:
          description: ""
          nullable: true
          type: string
        done_at:
          description: ""
          format: int32
          nullable: true
          type: integer
      type: object
    CRYPTOPUNKS.ItemDTO:
      additionalProperties: false
      example:
        vid: 6
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        block_number: 0
        id: id
        block_range: block_range
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
      type: object
    CRYPTOPUNKS.MarketPlaceDTO:
      additionalProperties: false
      example:
        creator_revenue_eth: creator_revenue_eth
        entry_time: 2000-01-23T04:56:07.000+00:00
        marketplace_revenue_eth: marketplace_revenue_eth
        recv_time: 2000-01-23T04:56:07.000+00:00
        subgraph_version: subgraph_version
        trade_count: 5
        cumulative_unique_traders: 5
        block_number: 0
        cumulative_trade_volume_eth: cumulative_trade_volume_eth
        vid: 6
        schema_version: schema_version
        methodology_version: methodology_version
        name: name
        collection_count: 1
        id: id
        slug: slug
        block_range: block_range
        total_revenue_eth: total_revenue_eth
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
        name:
          description: ""
          nullable: true
          type: string
        slug:
          description: ""
          nullable: true
          type: string
        schema_version:
          description: ""
          nullable: true
          type: string
        subgraph_version:
          description: ""
          nullable: true
          type: string
        methodology_version:
          description: ""
          nullable: true
          type: string
        collection_count:
          description: ""
          format: int32
          type: integer
        trade_count:
          description: ""
          format: int32
          type: integer
        cumulative_trade_volume_eth:
          description: ""
          nullable: true
          type: string
        marketplace_revenue_eth:
          description: ""
          nullable: true
          type: string
        creator_revenue_eth:
          description: ""
          nullable: true
          type: string
        total_revenue_eth:
          description: ""
          nullable: true
          type: string
        cumulative_unique_traders:
          description: ""
          format: int32
          type: integer
      type: object
    CRYPTOPUNKS.MarketplaceDailySnapshotDTO:
      additionalProperties: false
      example:
        creator_revenue_eth: creator_revenue_eth
        entry_time: 2000-01-23T04:56:07.000+00:00
        marketplace_revenue_eth: marketplace_revenue_eth
        daily_active_traders: 2
        recv_time: 2000-01-23T04:56:07.000+00:00
        marketplace: marketplace
        trade_count: 5
        cumulative_unique_traders: 5
        block_number: 0
        cumulative_trade_volume_eth: cumulative_trade_volume_eth
        daily_traded_collection_count: 7
        vid: 6
        collection_count: 1
        daily_traded_item_count: 9
        id: id
        block_range: block_range
        timestamp: timestamp
        total_revenue_eth: total_revenue_eth
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
        marketplace:
          description: ""
          nullable: true
          type: string
        timestamp:
          description: ""
          nullable: true
          type: string
        collection_count:
          description: ""
          format: int32
          type: integer
        cumulative_trade_volume_eth:
          description: ""
          nullable: true
          type: string
        marketplace_revenue_eth:
          description: ""
          nullable: true
          type: string
        creator_revenue_eth:
          description: ""
          nullable: true
          type: string
        total_revenue_eth:
          description: ""
          nullable: true
          type: string
        trade_count:
          description: ""
          format: int32
          type: integer
        cumulative_unique_traders:
          description: ""
          format: int32
          type: integer
        daily_active_traders:
          description: ""
          format: int32
          type: integer
        daily_traded_collection_count:
          description: ""
          format: int32
          type: integer
        daily_traded_item_count:
          description: ""
          format: int32
          type: integer
      type: object
    CRYPTOPUNKS.TradeDTO:
      additionalProperties: false
      example:
        seller: seller
        entry_time: 2000-01-23T04:56:07.000+00:00
        amount: amount
        recv_time: 2000-01-23T04:56:07.000+00:00
        block_number: block_number
        collection: collection
        log_index: 6
        buyer: buyer
        vid: 0
        is_bundle: true
        price_eth: price_eth
        token_id: token_id
        id: id
        transaction_hash: transaction_hash
        block_range: block_range
        timestamp: timestamp
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: ""
          nullable: true
          type: string
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
        transaction_hash:
          description: ""
          nullable: true
          type: string
        log_index:
          description: ""
          format: int32
          type: integer
        timestamp:
          description: ""
          nullable: true
          type: string
        is_bundle:
          description: ""
          type: boolean
        collection:
          description: ""
          nullable: true
          type: string
        token_id:
          description: ""
          nullable: true
          type: string
        amount:
          description: ""
          nullable: true
          type: string
        price_eth:
          description: ""
          nullable: true
          type: string
        buyer:
          description: ""
          nullable: true
          type: string
        seller:
          description: ""
          nullable: true
          type: string
      type: object
    CRYPTOPUNKS.UserDTO:
      additionalProperties: false
      example:
        vid: 6
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        block_number: 0
        id: id
        block_range: block_range
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: ""
          nullable: true
          type: string
      type: object
    CURVE_FINANCE_ETHEREUM.LiquidityPoolDTO:
      additionalProperties: false
      description: ""
      example:
        symbol: symbol
        fees:
        - fees
        - fees
        cumulative_total_revenue_usd: cumulative_total_revenue_usd
        cumulative_supply_side_revenue_usd: cumulative_supply_side_revenue_usd
        output_token: output_token
        block_number: 0
        input_token_weights:
        - input_token_weights
        - input_token_weights
        is_single_sided: true
        created_block_number: created_block_number
        evaluated_ask: 1.4658129805029452
        vid: 6
        reward_token_emissions_amount:
        - reward_token_emissions_amount
        - reward_token_emissions_amount
        cumulative_volume_usd: cumulative_volume_usd
        protocol: protocol
        total_value_locked_usd: total_value_locked_usd
        registry_address: registry_address
        output_token_supply: output_token_supply
        input_tokens_ordered:
        - input_tokens_ordered
        - input_tokens_ordered
        id: id
        reward_tokens:
        - reward_tokens
        - reward_tokens
        output_token_price_usd: output_token_price_usd
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        input_token_balances:
        - input_token_balances
        - input_token_balances
        created_timestamp: created_timestamp
        input_tokens:
        - input_tokens
        - input_tokens
        reward_token_emissions_usd:
        - reward_token_emissions_usd
        - reward_token_emissions_usd
        staked_output_token_amount: staked_output_token_amount
        gauge_address: gauge_address
        cumulative_protocol_side_revenue_usd: cumulative_protocol_side_revenue_usd
        name: name
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int64
          type: integer
        id:
          description: Smart contract address of the pool
          nullable: true
          type: string
        protocol:
          description: The protocol this pool belongs to
          nullable: true
          type: string
        name:
          description: Name of liquidity pool (e.g. Curve.fi DAI/USDC/USDT)
          nullable: true
          type: string
        symbol:
          description: Symbol of liquidity pool (e.g. 3CRV)
          nullable: true
          type: string
        input_tokens:
          description: Tokens that need to be deposited to take a position in protocol.
            e.g. WETH and USDC to deposit into the WETH-USDC pool. Array to account
            for multi-asset pools like Curve and Balancer
          items:
            type: string
          nullable: true
          type: array
        input_tokens_ordered:
          description: inputTokens in native (contract) order
          items:
            type: string
          nullable: true
          type: array
        output_token:
          description: Token that is minted to track ownership of position in protocol
          nullable: true
          type: string
        reward_tokens:
          description: "Aditional tokens that are given as reward for position in\
            \ a protocol, usually in liquidity mining programs. e.g. SUSHI in the\
            \ Onsen program, MATIC for Aave Polygon"
          items:
            type: string
          nullable: true
          type: array
        fees:
          description: "Fees per trade incurred to the user. Should include all fees\
            \ that apply to a pool (e.g. Curve has a trading fee AND an admin fee,\
            \ which is a portion of the trading fee. Uniswap only has a trading fee\
            \ and no protocol fee.)"
          items:
            type: string
          nullable: true
          type: array
        is_single_sided:
          description: "Whether this pool is single-sided (e.g. Bancor, Platypus's\
            \ Alternative Pool). The specifics of the implementation depends on the\
            \ protocol."
          type: boolean
        created_timestamp:
          description: Creation timestamp
          nullable: true
          type: string
        created_block_number:
          description: Creation block number
          nullable: true
          type: string
        total_value_locked_usd:
          description: Current TVL (Total Value Locked) of this pool in USD
          nullable: true
          type: string
        cumulative_supply_side_revenue_usd:
          description: "All revenue generated by the liquidity pool, accrued to the\
            \ supply side."
          nullable: true
          type: string
        cumulative_protocol_side_revenue_usd:
          description: "All revenue generated by the liquidity pool, accrued to the\
            \ protocol."
          nullable: true
          type: string
        cumulative_total_revenue_usd:
          description: All revenue generated by the liquidity pool.
          nullable: true
          type: string
        cumulative_volume_usd:
          description: "All historical trade volume occurred in this pool, in USD"
          nullable: true
          type: string
        input_token_balances:
          description: Amount of input tokens in the pool. The ordering should be
            the same as the pool's `inputTokens` field.
          items:
            type: string
          nullable: true
          type: array
        input_token_weights:
          description: Weights of input tokens in the liquidity pool in percentage
            values.
          items:
            type: string
          nullable: true
          type: array
        output_token_supply:
          description: Total supply of output token.
          nullable: true
          type: string
        output_token_price_usd:
          description: Price per share of output token in USD
          nullable: true
          type: string
        staked_output_token_amount:
          description: Total supply of output tokens that are staked (usually in the
            MasterChef contract). Used to calculate reward APY.
          nullable: true
          type: string
        reward_token_emissions_amount:
          description: "Per-block reward token emission as of the current block normalized\
            \ to a day, in token's native amount."
          items:
            type: string
          nullable: true
          type: array
        reward_token_emissions_usd:
          description: "Per-block reward token emission as of the current block normalized\
            \ to a day, in USD value."
          items:
            type: string
          nullable: true
          type: array
        registry_address:
          description: Registry that deployed this pool
          nullable: true
          type: string
        gauge_address:
          description: Liquidity Gauge assocaited with this pool
          nullable: true
          type: string
        evaluated_ask:
          format: double
          readOnly: true
          type: number
      type: object
    CURVE_FINANCE_ETHEREUM.SwapDTO:
      additionalProperties: false
      description: ""
      example:
        transaction_id: transaction_id
        entry_time: 2000-01-23T04:56:07.000+00:00
        amount_in: amount_in
        recv_time: 2000-01-23T04:56:07.000+00:00
        amount_out_usd: amount_out_usd
        pool: pool
        block_number: block_number
        pool_id: pool_id
        log_index: 0
        amount_out: amount_out
        protocol: protocol
        evaluated_amount: 1.4658129805029452
        evaluated_aggressor: null
        evaluated_price: 6.027456183070403
        amount_in_usd: amount_in_usd
        from: from
        id: id
        to: to
        token_out: token_out
        hash: hash
        token_in: token_in
        timestamp: timestamp
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Block number of this event
          nullable: true
          type: string
        id:
          description: Swap-(transaction hash)-(log index)
          nullable: true
          type: string
        hash:
          description: Transaction hash of the transaction that emitted this event
          nullable: true
          type: string
        log_index:
          description: "Event log index. For transactions that don't emit event, create\
            \ arbitrary index starting from 0"
          format: int32
          type: integer
        protocol:
          description: The protocol this transaction belongs to
          nullable: true
          type: string
        to:
          description: Address that received the tokens
          nullable: true
          type: string
        from:
          description: Address that sent the tokens
          nullable: true
          type: string
        timestamp:
          description: Timestamp of this event
          nullable: true
          type: string
        token_in:
          description: Token deposited into pool
          nullable: true
          type: string
        amount_in:
          description: Amount of token deposited into pool in native units
          nullable: true
          type: string
        amount_in_usd:
          description: Amount of token deposited into pool in USD
          nullable: true
          type: string
        token_out:
          description: Token withdrawn from pool
          nullable: true
          type: string
        amount_out:
          description: Amount of token withdrawn from pool in native units
          nullable: true
          type: string
        amount_out_usd:
          description: Amount of token withdrawn from pool in USD
          nullable: true
          type: string
        pool:
          description: The pool involving this transaction
          nullable: true
          type: string
        pool_id:
          nullable: true
          readOnly: true
          type: string
        transaction_id:
          nullable: true
          readOnly: true
          type: string
        evaluated_price:
          format: double
          readOnly: true
          type: number
        evaluated_amount:
          format: double
          readOnly: true
          type: number
        evaluated_aggressor:
          $ref: '#/components/schemas/Transactions.ETradeAggressiveSide'
      type: object
    CURVE_FINANCE_ETHEREUM.TokenDTO:
      additionalProperties: false
      description: ""
      example:
        vid: 6
        entry_time: 2000-01-23T04:56:07.000+00:00
        symbol: symbol
        last_price_usd: last_price_usd
        recv_time: 2000-01-23T04:56:07.000+00:00
        decimals: 1
        name: name
        block_number: 0
        id: id
        token_symbol: token_symbol
        last_price_block_number: last_price_block_number
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: ""
          format: int64
          type: integer
        id:
          description: Smart contract address of the token
          nullable: true
          type: string
        name:
          description: "Name of the token, mirrored from the smart contract"
          nullable: true
          type: string
        symbol:
          description: "Symbol of the token, mirrored from the smart contract"
          nullable: true
          type: string
        decimals:
          description: "The number of decimal places this token uses, default to 18"
          format: int32
          type: integer
        last_price_usd:
          description: Optional field to track the price of a token
          nullable: true
          type: string
        last_price_block_number:
          description: 'Optional field to track the block number of the last token
            price '
          nullable: true
          type: string
        token_symbol:
          nullable: true
          readOnly: true
          type: string
      type: object
    Transactions.ETradeAggressiveSide:
      enum:
      - Buy
      - Sell
      - EstimatedBuy
      - EstimatedSell
      - Unknown
      type: string
    UNISWAP_V2_ETHEREUM.LiquidityPoolDTO:
      additionalProperties: false
      description: Pool-level metadata.
      example:
        symbol: symbol
        fees:
        - fees
        - fees
        cumulative_total_revenue_usd: cumulative_total_revenue_usd
        cumulative_supply_side_revenue_usd: cumulative_supply_side_revenue_usd
        output_token: output_token
        block_number: 0
        input_token_weights:
        - input_token_weights
        - input_token_weights
        is_single_sided: true
        created_block_number: created_block_number
        evaluated_ask: 1.4658129805029452
        vid: 6
        reward_token_emissions_amount:
        - reward_token_emissions_amount
        - reward_token_emissions_amount
        cumulative_volume_usd: cumulative_volume_usd
        protocol: protocol
        total_value_locked_usd: total_value_locked_usd
        output_token_supply: output_token_supply
        id: id
        reward_tokens:
        - reward_tokens
        - reward_tokens
        output_token_price_usd: output_token_price_usd
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        input_token_balances:
        - input_token_balances
        - input_token_balances
        created_timestamp: created_timestamp
        input_tokens:
        - input_tokens
        - input_tokens
        reward_token_emissions_usd:
        - reward_token_emissions_usd
        - reward_token_emissions_usd
        staked_output_token_amount: staked_output_token_amount
        cumulative_protocol_side_revenue_usd: cumulative_protocol_side_revenue_usd
        name: name
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: "."
          format: int64
          type: integer
        id:
          description: Smart contract address of the pool
          nullable: true
          type: string
        protocol:
          description: The protocol this pool belongs to
          nullable: true
          type: string
        name:
          description: Name of liquidity pool (e.g. Curve.fi DAI/USDC/USDT)
          nullable: true
          type: string
        symbol:
          description: Symbol of liquidity pool (e.g. 3CRV)
          nullable: true
          type: string
        input_tokens:
          description: Tokens that need to be deposited to take a position in the
            protocol
          items:
            type: string
          nullable: true
          type: array
        output_token:
          description: Token that is minted to track ownership of position in protocol
          nullable: true
          type: string
        reward_tokens:
          description: Aditional tokens that are given as reward for position in a
            protocol
          items:
            type: string
          nullable: true
          type: array
        fees:
          description: Fees per trade incurred to the user
          items:
            type: string
          nullable: true
          type: array
        is_single_sided:
          description: Whether this pool is single-sided
          type: boolean
        created_timestamp:
          description: Creation timestamp
          nullable: true
          type: string
        created_block_number:
          description: Creation block number
          nullable: true
          type: string
        total_value_locked_usd:
          description: Current TVL (Total Value Locked) of this pool in USD
          nullable: true
          type: string
        cumulative_supply_side_revenue_usd:
          description: "All revenue generated by the liquidity pool, accrued to the\
            \ supply side"
          nullable: true
          type: string
        cumulative_protocol_side_revenue_usd:
          description: "All revenue generated by the liquidity pool, accrued to the\
            \ protocol"
          nullable: true
          type: string
        cumulative_total_revenue_usd:
          description: All revenue generated by the liquidity pool
          nullable: true
          type: string
        cumulative_volume_usd:
          description: "All historical trade volume occurred in this pool, in USD"
          nullable: true
          type: string
        input_token_balances:
          description: Amount of input tokens in the pool
          items:
            type: string
          nullable: true
          type: array
        input_token_weights:
          description: Weights of input tokens in the liquidity pool in percentage
            values
          items:
            type: string
          nullable: true
          type: array
        output_token_supply:
          description: Total supply of output token
          nullable: true
          type: string
        output_token_price_usd:
          description: Price per share of output token in USD
          nullable: true
          type: string
        staked_output_token_amount:
          description: Total supply of output tokens that are staked
          nullable: true
          type: string
        reward_token_emissions_amount:
          description: "Per-block reward token emission as of the current block normalized\
            \ to a day, in token's native amount"
          items:
            type: string
          nullable: true
          type: array
        reward_token_emissions_usd:
          description: "Per-block reward token emission as of the current block normalized\
            \ to a day, in USD value"
          items:
            type: string
          nullable: true
          type: array
        evaluated_ask:
          description: Evaluated ask value of the liquidity pool.
          format: double
          readOnly: true
          type: number
      type: object
    UNISWAP_V2_ETHEREUM.SwapDTO:
      additionalProperties: false
      description: Trade (swap) event which occurred in a pool.
      example:
        block_number: 0
        block_: 6
        protocol: protocol
        evaluated_amount: 5.637376656633329
        evaluated_aggressor: null
        from: from
        id: id
        token_in: token_in
        timestamp: timestamp
        block_range: block_range
        reserve_amounts:
        - reserve_amounts
        - reserve_amounts
        transaction_id: transaction_id
        entry_time: 2000-01-23T04:56:07.000+00:00
        amount_in: amount_in
        recv_time: 2000-01-23T04:56:07.000+00:00
        amount_out_usd: amount_out_usd
        pool: pool
        pool_id: pool_id
        log_index: 1
        amount_out: amount_out
        evaluated_price: 5.962133916683182
        amount_in_usd: amount_in_usd
        to: to
        token_out: token_out
        hash: hash
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        block_:
          description: ""
          format: int32
          type: integer
        id:
          description: swap-(Transaction hash)-(Log index)
          nullable: true
          type: string
        hash:
          description: Transaction hash of the transaction that emitted this event
          nullable: true
          type: string
        log_index:
          description: "Event log index. For transactions that don't emit event, create\
            \ arbitrary index starting from 0"
          format: int32
          type: integer
        protocol:
          description: The protocol this transaction belongs to
          nullable: true
          type: string
        to:
          description: Address that received the tokens
          nullable: true
          type: string
        from:
          description: Address that sent the tokens
          nullable: true
          type: string
        timestamp:
          description: Timestamp of this event
          nullable: true
          type: string
        token_in:
          description: Token deposited into pool
          nullable: true
          type: string
        amount_in:
          description: Amount of token deposited into pool in native units
          nullable: true
          type: string
        amount_in_usd:
          description: Amount of token deposited into pool in USD
          nullable: true
          type: string
        token_out:
          description: Token withdrawn from pool
          nullable: true
          type: string
        amount_out:
          description: Amount of token withdrawn from pool in native units
          nullable: true
          type: string
        amount_out_usd:
          description: Amount of token withdrawn from pool in USD
          nullable: true
          type: string
        reserve_amounts:
          description: Amount of input tokens in the liquidity pool
          items:
            type: string
          nullable: true
          type: array
        pool:
          description: The pool involving this transaction
          nullable: true
          type: string
        block_range:
          nullable: true
          readOnly: true
          type: string
        pool_id:
          nullable: true
          readOnly: true
          type: string
        transaction_id:
          nullable: true
          readOnly: true
          type: string
        evaluated_price:
          format: double
          readOnly: true
          type: number
        evaluated_amount:
          format: double
          readOnly: true
          type: number
        evaluated_aggressor:
          $ref: '#/components/schemas/Transactions.ETradeAggressiveSide'
      type: object
    UNISWAP_V2_ETHEREUM.TokenDTO:
      additionalProperties: false
      description: Stores aggregated information for a specific token across all pairs
        that token is included in.
      example:
        entry_time: 2000-01-23T04:56:07.000+00:00
        symbol: symbol
        recv_time: 2000-01-23T04:56:07.000+00:00
        total_supply: total_supply
        large_price_change_buffer: 5
        block_number: 0
        last_price_block_number: last_price_block_number
        large_tvl_impact_buffer: 5
        vid: 6
        last_price_usd: last_price_usd
        total_value_locked_usd: total_value_locked_usd
        decimals: 1
        name: name
        id: id
        token_symbol: token_symbol
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        vid:
          description: "."
          format: int64
          type: integer
        id:
          description: Smart contract address of the token
          nullable: true
          type: string
        name:
          description: "Name of the token, mirrored from the smart contract"
          nullable: true
          type: string
        symbol:
          description: "Symbol of the token, mirrored from the smart contract"
          nullable: true
          type: string
        decimals:
          description: "The number of decimal places this token uses, default to 18"
          format: int32
          type: integer
        last_price_usd:
          description: "Optional field to track the price of a token, mostly for caching\
            \ purposes"
          nullable: true
          type: string
        last_price_block_number:
          description: Optional field to track the block number of the last token
            price
          nullable: true
          type: string
        total_supply:
          description: amount of tokens in the protocol
          nullable: true
          type: string
        total_value_locked_usd:
          description: Total value locked in the protocol
          nullable: true
          type: string
        large_price_change_buffer:
          description: Buffer for large price changes
          format: int32
          type: integer
        large_tvl_impact_buffer:
          description: Buffer for large TVL impacts
          format: int32
          type: integer
        token_symbol:
          nullable: true
          readOnly: true
          type: string
      type: object
    UNISWAP_V3_ETHEREUM.AccountDTO:
      additionalProperties: false
      example:
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        deposit_count: 5
        position_count: 6
        withdraw_count: 2
        block_number: 0
        id: id
        closed_position_count: 5
        open_position_count: 1
        swap_count: 7
        block_range: block_range
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: Account address.
          nullable: true
          type: string
        position_count:
          description: Number of positions this account has.
          format: int32
          type: integer
        open_position_count:
          description: Number of open positions this account has.
          format: int32
          type: integer
        closed_position_count:
          description: Number of closed positions this account has.
          format: int32
          type: integer
        deposit_count:
          description: Number of deposits this account made.
          format: int32
          type: integer
        withdraw_count:
          description: Number of withdrawals this account made.
          format: int32
          type: integer
        swap_count:
          description: Number of times this account has traded/swapped.
          format: int32
          type: integer
      type: object
    UNISWAP_V3_ETHEREUM.ActiveAccountDTO:
      additionalProperties: false
      description: Entity for calculating daily/hourly active users.
      example:
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        block_number: 0
        id: id
        block_range: block_range
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        id:
          description: "Identifier, format: (daily/hourly)-(address of the account)-(days/hours\
            \ since unix epoch)"
          nullable: true
          type: string
        block_range:
          description: ""
          nullable: true
          type: string
      type: object
    UNISWAP_V3_ETHEREUM.DepositDTO:
      additionalProperties: false
      description: Entity represents a user action in the protocol involving the addition
        of funds to a liquidity pool.
      example:
        gas_price: gas_price
        reserve_amounts:
        - reserve_amounts
        - reserve_amounts
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        input_token_amounts:
        - input_token_amounts
        - input_token_amounts
        gas_used: gas_used
        pool: pool
        amount_usd: amount_usd
        block_number: 0
        tick_upper: tick_upper
        liquidity: liquidity
        nonce: nonce
        log_index: 1
        input_tokens:
        - input_tokens
        - input_tokens
        block_: 6
        protocol: protocol
        gas_limit: gas_limit
        tick_lower: tick_lower
        id: id
        position: position
        hash: hash
        account: account
        timestamp: timestamp
        block_range: block_range
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        block_:
          description: ""
          format: int32
          type: integer
        id:
          description: "Identifier, format: (transaction hash)-(log index)"
          nullable: true
          type: string
        hash:
          description: Transaction hash of the transaction that emitted this event.
          nullable: true
          type: string
        nonce:
          description: Nonce of the transaction that emitted this event.
          nullable: true
          type: string
        log_index:
          description: "Event log index. For transactions that don't emit event, create\
            \ arbitrary index starting from 0."
          format: int32
          type: integer
        gas_limit:
          description: Gas limit of the transaction that emitted this event.
          nullable: true
          type: string
        gas_used:
          description: Gas used in this transaction. (Optional because not every chain
            will support this).
          nullable: true
          type: string
        gas_price:
          description: Gas price of the transaction that emitted this event.
          nullable: true
          type: string
        protocol:
          description: The protocol this transaction belongs to.
          nullable: true
          type: string
        account:
          description: Account that emitted this event.
          nullable: true
          type: string
        position:
          description: The user position changed by this event.
          nullable: true
          type: string
        pool:
          description: The pool involving this event.
          nullable: true
          type: string
        tick_lower:
          description: Lower tick of position.
          nullable: true
          type: string
        tick_upper:
          description: Upper tick of position.
          nullable: true
          type: string
        timestamp:
          description: Timestamp of this event.
          nullable: true
          type: string
        liquidity:
          description: Amount of liquidity minted.
          nullable: true
          type: string
        input_tokens:
          description: Input tokens of the pool. E.g. WETH and USDC to a WETH-USDC
            pool.
          items:
            type: string
          nullable: true
          type: array
        input_token_amounts:
          description: Amount of input tokens in the token's native unit.
          items:
            type: string
          nullable: true
          type: array
        reserve_amounts:
          description: Amount of input tokens in the liquidity pool.
          items:
            type: string
          nullable: true
          type: array
        amount_usd:
          description: USD-normalized value of the transaction of the underlying (e.g.
            sum of tokens deposited into a pool).
          nullable: true
          type: string
        block_range:
          description: ""
          nullable: true
          type: string
      type: object
    UNISWAP_V3_ETHEREUM.DexAmmProtocolDTO:
      additionalProperties: false
      description: ' Decentralized exchange (Dex) automated market maker (Amm) protocol.
        It''s an entity that represents a protocol involving a smart contract that
        use automated market makers.'
      example:
        cumulative_unique_users: 6
        total_pool_count: 5
        cumulative_total_revenue_usd: cumulative_total_revenue_usd
        subgraph_version: subgraph_version
        cumulative_supply_side_revenue_usd: cumulative_supply_side_revenue_usd
        cumulative_unique_traders: 5
        total_liquidity_usd: total_liquidity_usd
        block_number: 0
        last_snapshot_day_id: 9
        protocol_controlled_value_usd: protocol_controlled_value_usd
        schema_version: schema_version
        cumulative_volume_usd: cumulative_volume_usd
        cumulative_unique_l_ps: 1
        methodology_version: methodology_version
        total_value_locked_usd: total_value_locked_usd
        last_update_timestamp: last_update_timestamp
        id: id
        regenesis: true
        slug: slug
        block_range: block_range
        entry_time: 2000-01-23T04:56:07.000+00:00
        recv_time: 2000-01-23T04:56:07.000+00:00
        uncollected_supply_side_value_usd: uncollected_supply_side_value_usd
        cumulative_position_count: 7
        cumulative_protocol_side_revenue_usd: cumulative_protocol_side_revenue_usd
        name: name
        uncollected_protocol_side_value_usd: uncollected_protocol_side_value_usd
        last_update_block_number: last_update_block_number
        active_liquidity_usd: active_liquidity_usd
        open_position_count: 2
      properties:
        entry_time:
          format: date-time
          type: string
        recv_time:
          format: date-time
          type: string
        block_number:
          description: Number of block in which entity was recorded.
          format: int64
          type: integer
        block_range:
          description: ""
          nullable: true
          type: string
        id:
          description: "Smart contract address of the protocol's main contract (Factory,\
            \ Registry, etc)."
          nullable: true
          type: string
        name:
          description: "Name of the protocol, including version. e.g. Uniswap v3."
          nullable: true
          type: string
        slug:
          description: "Slug of protocol, including version. e.g. uniswap-v3."
          nullable: true
          type: string
        schema_version:
          description: "Version of the subgraph schema, in SemVer format (e.g. 1.0.0)."
          nullable: true
          type: string
        subgraph_version:
          description: "Version of the subgraph implementation, in SemVer format (e.g.\
            \ 1.0.0)."
          nullable: true
          type: string
        methodology_version:
          description: "Version of the methodology used to compute metrics, loosely\
            \ based on SemVer format (e.g. 1.0.0)."
          nullable: true
          type: string
        total_value_locked_usd:
          description: Current TVL (Total Value Locked) of the entire protocol.
          nullable: true
          type: string
        total_liquidity_usd:
          description: The sum of all active and non-active liquidity in USD for this
            pool.
          nullable: true
          type: string
        active_liquidity_usd:
          description: All liquidity in USD that is active. Will be equal to totalLiquidity
            except for in concentrated liquidity - where activeLiquidity is all liquidity
            positions that contain the pools current tick.
          nullable: true
          type: string
        uncollected_protocol_side_value_usd:
          description: All protocol-side value locking in USD that remains uncollected
            and unused in the protocol.
          nullable: true
          type: string
        uncollected_supply_side_value_usd:
          description: All supply-side value locking in USD that remains uncollected
            and unused in the protocol.
          nullable: true
          type: string
        protocol_controlled_value_usd:
          description: Current PCV (Protocol Controlled Value). Only relevant for
            protocols with PCV.
          nullable: true
          type: string
        cumulative_volume_usd:
          description: All historical volume in USD.
          nullable: true
          type: string
        cumulative_supply_side_revenue_usd:
          description: Revenue claimed by suppliers to the protocol. LPs on DEXs (e.g.
            0.25% of the swap fee in Sushiswap). Depositors on Lending Protocols.
            NFT sellers on OpenSea.
          nullable: true
          type: string
        cumulative_protocol_side_revenue_usd:
          description: "Gross revenue for the protocol (revenue claimed by protocol).\
            \ Examples: AMM protocol fee (Sushi’s 0.05%). OpenSea 10% sell fee."
          nullable: true
          type: string
        cumulative_total_revenue_usd:
          description: "All revenue generated by the protocol. e.g. 0.30% of swap\
            \ fee in Sushiswap, all yield generated by Yearn."
          nullable: true
          type: string
        cumulative_unique_users:
          description: Number of cumulative unique users.
          format: int32
          type: integer
        cumulative_unique_l_ps:
          description: Number of cumulative liquidity providers.
          format: int32
          type: integer
        cumulative_unique_traders:
          description: Number of cumulative traders
          format: int32
          type: integer
        total_pool_count:
          description: Total number of pools.
          format: int32
          type: integer
        open_position_count:
          description: Total number of open positions.
          format: int32
          type: integer
        cumulative_position_count:
          description: Total number of positions (open and closed).
          format: int32
          type: integer
        last_snapshot_day_id:
          description: Day ID of the most recent daily snapshot.
          format: int32
[...]
